/* RESET - Start */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

/*RESET - stop*/
body {
  background-color: #F6F5F6;
  margin-block: clamp(4.563rem, 3.966rem + 2.545vw, 5.188rem); /* min: 73px, max: 83px */
  margin-inline: clamp(2.188rem, 0.637rem + 6.616vw, 3.813rem); /* min: 35px, max: 61px */
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-inline-size: 69.625rem;
}
.testimonials__testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}
.testimonials__testimonial::before {
  content: "";
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 40px 60px 50px 0px hsla(217, 19%, 35%, 0.25);
}

.testimonial__header {
  display: grid;
  grid-template-columns: repeat(2, fit-content(100%));
  column-gap: 1rem;
}
.testimonial__image {
  inline-size: 1.75rem;
  block-size: 1.75rem;
  grid-row: 1/span 2;
  align-self: center;
  border: solid 2px white;
  border-radius: 50%;
}
.testimonial__author {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.8125rem;
  line-height: 1.1;
  font-weight: 500;
}
.testimonial__verified {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.6875rem;
  line-height: 1.4;
  font-weight: 500;
}
.testimonial__summary {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
}
.testimonial__full-opinion {
  font-family: "Barlow Semi Condensed", serif;
  font-size: 0.8125rem;
  line-height: 1.4;
  font-weight: 500;
}

.u-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
}
.u-color-purple-50 {
  color: hsl(260, 100%, 95%);
}
.u-color-white {
  color: hsl(0, 0%, 100%);
}
.u-color-grey-100 {
  color: hsl(214, 17%, 92%);
}
.u-color-grey-200 {
  color: hsl(0, 0%, 81%);
}
.u-color-grey-400 {
  color: hsl(224, 10%, 45%);
}
.u-color-grey-500 {
  color: hsl(217, 19%, 35%);
}
.u-bg-color-purple-500 {
  background-color: hsl(263, 55%, 52%);
}
.u-bg-color-grey-500 {
  background-color: hsl(217, 19%, 35%);
}
.u-bg-color-dark-blue {
  background-color: hsl(219, 29%, 14%);
}
.u-border-color-purple-50 {
  border-color: hsl(260, 100%, 95%);
}
.u-border-color-grey-100 {
  border-color: hsl(214, 17%, 92%);
}
.u-border-color-grey-400 {
  border-color: hsl(224, 10%, 45%);
}

@media (min-width: 48rem) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials__testimonial:nth-child(1), .testimonials__testimonial:nth-child(4), .testimonials__testimonial:nth-child(5) {
    grid-column: span 2;
  }
  .testimonials__testimonial:nth-child(1) > * {
    z-index: 1;
  }
  .testimonials__testimonial:nth-child(1)::after {
    content: url(../images/bg-pattern-quotation.svg);
    position: absolute;
    inset-inline-start: 23.5rem;
    inset-block-start: 0;
  }
}
@media (min-width: 64rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-block-size: 100vh;
    margin-block: 0;
  }
  .testimonials {
    grid-template-columns: repeat(4, 1fr);
  }
  .testimonials__testimonial:nth-child(1)::after {
    inset-inline-start: clamp(15.625rem, -3.76rem + 30.288vw, 23.5rem); /* min: 250px, max: 376px */
  }
  .testimonials__testimonial:nth-child(5) {
    grid-column: 4;
    grid-row: 1/span 2;
  }
}
